In [144]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
import pickle

In [46]:
%matplotlib inline

In [47]:
#
df = pd.read_csv('./datafile/Survived.csv')
df.head(3)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [48]:
#
df['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [49]:
#
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [50]:
#
df.shape

(891, 11)

In [51]:
#
df['Age'] = df['Age'].fillna(df['Age'].mean())
#
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [52]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [53]:
#
col = ['PassengerId', 'Age', 'SibSp', 'Parch', 'Fare']
#
x = df[col]
t = df['Survived']

In [54]:
#
x_train, x_test, y_train, y_test = train_test_split(x, t, test_size=0.2, random_state=0)
#
x_train.shape

(712, 5)

In [55]:
#
model = tree.DecisionTreeClassifier(max_depth=5, random_state=0, class_weight='balanced')
#
model.fit(x_train, y_train)

DecisionTreeClassifier(class_weight='balanced', max_depth=5, random_state=0)

In [56]:
model.score(x_test, y_test)

0.6983240223463687

In [82]:
#
def learn(x, t, depth=3):
    #
    x_train, x_test, y_train, y_test = train_test_split(x, t, test_size=0.2, random_state=0)
    #
    model = tree.DecisionTreeClassifier(max_depth=depth, random_state=0, class_weight='balanced')
    #
    model.fit(x_train, y_train)
    #
    score = model.score(X=x_train, y=y_train)
    #
    score2 = model.score(X=x_test, y=y_test)
    #
    return round(score, 3), round(score2, 3), model

In [83]:
#
for j in range(1, 15):
    #
    train_score, test_score, model = learn(x, t, depth = j)
    #
    sentence = '訓練データの正解率{}'
    #
    sentence2 = 'テストデータの正解率{}'
    #
    total_sentence = '深さ{}:' + sentence + sentence2
    #
    print(total_sentence.format(j, train_score, test_score))

深さ1:訓練データの正解率0.603テストデータの正解率0.698
深さ2:訓練データの正解率0.638テストデータの正解率0.698
深さ3:訓練データの正解率0.645テストデータの正解率0.698
深さ4:訓練データの正解率0.645テストデータの正解率0.698
深さ5:訓練データの正解率0.66テストデータの正解率0.698
深さ6:訓練データの正解率0.747テストデータの正解率0.721
深さ7:訓練データの正解率0.782テストデータの正解率0.732
深さ8:訓練データの正解率0.794テストデータの正解率0.771
深さ9:訓練データの正解率0.829テストデータの正解率0.749
深さ10:訓練データの正解率0.855テストデータの正解率0.749
深さ11:訓練データの正解率0.879テストデータの正解率0.737
深さ12:訓練データの正解率0.907テストデータの正解率0.732
深さ13:訓練データの正解率0.921テストデータの正解率0.709
深さ14:訓練データの正解率0.941テストデータの正解率0.709

In [106]:
#
df2 = pd.read_csv('./datafile/Survived.csv')
#
print(df2['Age'].mean())
#
print(df2['Age'].median())

29.69911764705882
28.0

In [107]:
df2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [114]:
df2.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [112]:
df2['Survived'].astype(int)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int32

In [ ]:
df2.groupby('Survived').mean()['Age']

In [ ]:
df2.groupby('Pclass').mean()['Age']

In [117]:
#
pd.pivot_table(df2, index='Survived', columns='Pclass', values='Age')

Pclass            1          2          3
Survived
0         43.695312  33.544444  26.555556
1         35.368197  25.901566  20.646118

In [118]:
#
pd.pivot_table(df2, index='Survived', columns='Pclass', values='Age', aggfunc=max)

C:\Users\hartm\AppData\Local\Temp\ipykernel_18048\649561336.py:2: FutureWarning: The provided callable <built-in function max> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  pd.pivot_table(df2, index='Survived', columns='Pclass', values='Age', aggfunc=max)

Pclass       1     2     3
Survived
0         71.0  70.0  74.0
1         80.0  62.0  63.0

In [123]:
#
is_null = df2['Age'].isnull()
#
df2.loc[(df['Pclass']==1) & (df['Survived']==0) & (is_null), 'Age'] = 43
#
df2.loc[(df['Pclass']==1) & (df['Survived']==1) & (is_null), 'Age'] = 35
#
df2.loc[(df['Pclass']==2) & (df['Survived']==0) & (is_null), 'Age'] = 33
#
df2.loc[(df['Pclass']==2) & (df['Survived']==1) & (is_null), 'Age'] = 25
#
df2.loc[(df['Pclass']==3) & (df['Survived']==0) & (is_null), 'Age'] = 26
#
df2.loc[(df['Pclass']==3) & (df['Survived']==1) & (is_null), 'Age'] = 20

In [124]:
df2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [125]:
#
col = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
#
x = df2[col]
t = df2['Survived']
#
for j in range(1, 15):
    #
    s1, s2, m = learn(x, t, depth=j)
    #
    sentence = '深さ{}:訓練データの精度{}::テストデータの精度{}'
    #
    print(sentence.format(j, s1, s2))

深さ1:訓練データの精度0.659::テストデータの精度0.704
深さ2:訓練データの精度0.699::テストデータの精度0.67
深さ3:訓練データの精度0.722::テストデータの精度0.715
深さ4:訓練データの精度0.74::テストデータの精度0.704
深さ5:訓練データの精度0.76::テストデータの精度0.726
深さ6:訓練データの精度0.794::テストデータの精度0.793
深さ7:訓練データの精度0.819::テストデータの精度0.749
深さ8:訓練データの精度0.84::テストデータの精度0.749
深さ9:訓練データの精度0.885::テストデータの精度0.743
深さ10:訓練データの精度0.906::テストデータの精度0.732
深さ11:訓練データの精度0.93::テストデータの精度0.726
深さ12:訓練データの精度0.947::テストデータの精度0.737
深さ13:訓練データの精度0.961::テストデータの精度0.732
深さ14:訓練データの精度0.969::テストデータの精度0.721

In [ ]:
#
sex = df2.groupby('Sex').mean()
sex['Survived']

In [ ]:
sex['Survived'].plot(kind='bar')

In [ ]:
#
col = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex']
#
x = df2[col]
t = df2['Survived']
#特徴量に文字列（Sex）データを含むとエラーになる
train_score, test_score, model = learn(x, t)

In [132]:
#
male = pd.get_dummies(df2['Sex'], drop_first=False)
#
male

     female   male
0     False   True
1      True  False
2      True  False
3      True  False
4     False   True
..      ...    ...
886   False   True
887    True  False
888    True  False
889   False   True
890   False   True

[891 rows x 2 columns]

In [140]:
#
male = pd.get_dummies(df2['Sex'], drop_first=True)
#
male

      male
0     True
1    False
2    False
3    False
4     True
..     ...
886   True
887  False
888  False
889   True
890   True

[891 rows x 1 columns]

In [134]:
pd.get_dummies(df2['Sex'])

     female   male
0     False   True
1      True  False
2      True  False
3      True  False
4     False   True
..      ...    ...
886   False   True
887    True  False
888    True  False
889   False   True
890   False   True

[891 rows x 2 columns]

In [138]:
#
pd.get_dummies(df2['Embarked'], drop_first=True)

         Q      S
0    False   True
1    False  False
2    False   True
3    False   True
4    False   True
..     ...    ...
886  False   True
887  False   True
888  False   True
889  False  False
890   True  False

[891 rows x 2 columns]

In [139]:
#
embarked = pd.get_dummies(df2['Embarked'], drop_first=False)
#
embarked.head(3)

       C      Q      S
0  False  False   True
1   True  False  False
2  False  False   True

In [141]:
#
x_temp = pd.concat([x, male], axis=1)
#
x_temp.head(3)

   Pclass   Age  SibSp  Parch     Fare     Sex   male
0       3  22.0      1      0   7.2500    male   True
1       1  38.0      1      0  71.2833  female  False
2       3  26.0      0      0   7.9250  female  False

In [142]:
#
temp = pd.concat([x, x], axis=0)
#
temp.shape

(1782, 6)

In [143]:
#
x_new = x_temp.drop('Sex', axis=1)
#
for j in range(1, 15):
    #
    s1, s2, m = learn(x_new, t, depth=j)
    #
    s = '深さ{}:訓練データの精度{}::テストデータの精度{}'
    #
    print(s.format(j, s1, s2))

深さ1:訓練データの精度0.787::テストデータの精度0.788
深さ2:訓練データの精度0.792::テストデータの精度0.782
深さ3:訓練データの精度0.847::テストデータの精度0.81
深さ4:訓練データの精度0.854::テストデータの精度0.849
深さ5:訓練データの精度0.865::テストデータの精度0.86
深さ6:訓練データの精度0.876::テストデータの精度0.866
深さ7:訓練データの精度0.904::テストデータの精度0.866
深さ8:訓練データの精度0.912::テストデータの精度0.894
深さ9:訓練データの精度0.926::テストデータの精度0.899
深さ10:訓練データの精度0.948::テストデータの精度0.883
深さ11:訓練データの精度0.956::テストデータの精度0.832
深さ12:訓練データの精度0.972::テストデータの精度0.849
深さ13:訓練データの精度0.971::テストデータの精度0.855
深さ14:訓練データの精度0.979::テストデータの精度0.844

In [146]:
#
s1, s2, model = learn(x_new, t, depth=9)
#
with open('./modelfile/survived.pkl', 'wb') as f:
    pickle.dump(model, f)