pandas超入門

In [1]:
import pandas as pd

In [4]:
data = {
    '東陽テクニカ売上':[23104,23511,26490],
    'ギフティー売上':[3082,3725,4723]
}

df = pd.DataFrame(data)
df

   東陽テクニカ売上  ギフティー売上
0     23104     3082
1     23511     3725
2     26490     4723

In [5]:
print(type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(3, 2)

In [6]:
df.index = ['連20','連21','連22']
df

     東陽テクニカ売上  ギフティー売上
連20     23104     3082
連21     23511     3725
連22     26490     4723

In [8]:
df.columns = ['東陽テクニカ売上(百万)', 'ギフティー売上(百万)']
df

     東陽テクニカ売上(百万)  ギフティー売上(百万)
連20         23104         3082
連21         23511         3725
連22         26490         4723

In [9]:
print(df.index)
print(df.columns)

Index(['連20', '連21', '連22'], dtype='object')
Index(['東陽テクニカ売上(百万)', 'ギフティー売上(百万)'], dtype='object')

In [ ]:
data = [[1250,1725,2332],
        [1106,308,362]
       ]

index=['連20', '連21', '連22']
columns=['東陽テクニカ売上(百万)', 'ギフティー売上(百万)']
df2 = pd.DataFrame(data, index=index, columns=columns)

df2

In [21]:
df = pd.read_csv('./datafile/KvsT.csv')

df.head(5)

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ
3  170  65  40   きのこ
4  177  65  10  たけのこ

In [23]:
df['身長']

0     170
1     172
2     170
3     170
4     177
5     168
6     169
7     170
8     180
9     170
10    165
11    170
12    175
13    170
14    170
15    155
16    160
17    170
18    175
Name: 身長, dtype: int64